#diffusers
huggingface-hub
fastapi==0.83.0
pydantic==1.10.2
torch==1.12.1+cu116
torchaudio==0.12.1+cu116
torchvision==0.13.1+cu116
#transformers==4.21.3
uvicorn==0.18.3
diffusers==0.11.1 
transformers 
gradio 
ftfy 
accelerate